
.top-header {
    width:100%;
    display:flex;
    flex-direction: row;

}

.top-header-list {
    width:100%;
    padding: 0;
    list-style-type: none;
    padding-left:25px;
    padding-right:25px;
}

#left-header-wrapper {
    width:100%;
}

#left-header {
    width:250px;
    display:flex;
}

#right-header {
    display:flex;
    width:500px;
}

#top-header > ul > li {
    background-color: aqua;
    border-color: black;
}

#left-header-divider {
}